# **1. What are data structures, and why are they important?**


Data structure is something in which data is store, organise and mange data.This is important because the python is usvally work in mangeable data and mangew data help everone to understand easily.

---

# **2. Explain the difference between mutable and immutable data types with example.**


The main difference between mutable and immutable data type is that the mutable data type change after they are created ,but immutable data type is that which cannot be change anytime after they are created like tuple.

---

# **3.What are the main differences between lists and tuples in Python?**

The main difference between list and tuple is that list are mutable so that why it can change after they are created. But tuple are immutable which cannot change.

---

# **4.Describe how dictionaries store data.**

A dictionary in python is something that store the the key value .Each key value is something which determine and store in a memory and store in a memory.The dictionary are also immutable.

---

# **5.Why might you use a set instead of a list in Python?**

if  i donot want to store ny unique value in the data or if  i donot want to make a proper sequence and if you want to work faster and frequant.

---

# **6.What is a string in Python, and how is it different from a list?**

The string is a sequance of character use in python to represent text and it are also immutable. While list is a sequence of element that are represent and they are mutable.

---

# **7.How do tuples ensure data integrity in Python?**

As the tuple are the immutable data type so python ensure that it are safe and cannot be change so data integrity is offered in tuple.

---

# **8.What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is a data structure that store data in key value pair and use as key value function.While dictionaries are also relateable because it implemented by hash table only.

---

# **9.Can lists contain different data types in Python?**

Yes, lists in Python can contain different data types, such as integers, strings, floats, and even other lists or objects, all within the same list.

---

# **10.Explain why strings are immutable in Python.**

Strings are immutable in Python to ensure data integrity, improve performance, and make them safe to use as keys in dictionaries. When a string is created, it cannot be changed—any modification creates a new string—this design helps prevent unexpected side effects and makes strings more efficient and secure in memory management.

---

# **11.What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries offer advantages over lists for tasks that require fast lookups,associating values with unique keys, and unordered data storage. Unlike lists, where you access elements by index, dictionaries let you access values directly using descriptive keys, making code more readable and efficient, especially when handling large datasets or when key-based access is needed.

---

# **12.Describe a scenario where using a tuple would be preferable over a list?**


Using a tuple is preferable over a list when you need to store a fixed collection of values that should not change, such as the coordinates of a point `(x, y)`, or configuration settings that must remain constant throughout the program to ensure data integrity and allow for safe use as dictionary keys.

---

# **13.How do sets handle duplicate values in Python?**


Sets in Python automatically remove duplicate values. When you add items to a set, only unique elements are kept, and any duplicates are ignored.

---

# **14.How does the “in” keyword work differently for lists and dictionaries?**

In Python, the `in` keyword works differently for lists and dictionaries:

* For lists, `in` checks whether a value exists in the list.
* For dictionaries, `in` checks whether a key exists in the dictionary (not the value).

---

# **15.Can you modify the elements of a tuple? Explain why or why not?**

No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its elements cannot be changed, added, or removed, which helps maintain data consistency and integrity.

---

# **16.What is a nested dictionary, and give an example of its use case?**


A nested dictioonary isa dictionary  where a value themselve are dictionaries.
students = {
    "101": {"name": "Alice", "age": 20, "grade": "A"},
    "102": {"name": "Bob", "age": 21, "grade": "B"}
}


---

#**17.Describe the time complexity of accessing elements in a dictionary.**


The time complexity of accessing elements in a dictionary is **O(1)** on average, meaning it takes constant time regardless of the dictionary size, thanks to the underlying **hash table** structure. However, in rare cases of hash collisions, it can degrade to **O(n)** in the worst case.


---

#**18.Why are dictionaries considered unordered, and how does that affect data retrieval?**

Dictionaries are considered unordered because you access values by keys, not by position, and their internal order isn't meant to be relied on. This means you can't retrieve items by index, only by their key.

---

#**19.In what situations are lists preferred over dictionaries?**


**Lists are preferred when:**

* Order matters
* You access items by position (index)
* You allow duplicates
* No need for key-value pairs

---

#**20.Explain the difference between a list and a dictionary in terms of data retrieval.**

List maintain order while dictionary doesnot .

---

In [ ]:
##1.Write a code to create a string with your name and print it

name = "Bhavya"
print(name)

Bhavya

In [ ]:
##2.Write a code to find the length of the string "Hello World"

string= " hello world"
print(len(string))

12

In [ ]:
# #3.Write a code to slice the first 3 characters from the string "Python
# Programming".

s= "Python programming"
print(s[0:3])

Pyt

In [ ]:
##4.Write a code to convert the string "hello" to uppercase

s= "hello "
print(s.upper())

HELLO

In [ ]:
# #5.Write a code to replace the word "apple" with "orange" in the string "I
# like apple.

s="I like apple"
print(s.replace("apple","orange"))

I like orange

In [ ]:
##6.Write a code to create a list with numbers 1 to 5 and print it

l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [ ]:
##7.Write a code to append the number 10 to the list [1, 2, 3, 4].

i=[1,2,3,4]
i.append(10)
print(i)

[1, 2, 3, 4, 10]

In [ ]:
##8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

i=[1,2,3,4,5]
i.remove(3)
print(i)

[1, 2, 4, 5]

In [ ]:
##9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

o=['a', 'b', 'c', 'd']
print(o[1])

b

In [ ]:

##10.Write a code to reverse the list [10, 20, 30, 40, 50]
##10.Write a code to reverse the list [10, 20, 30, 40, 50]

o=[10,20,30,40,50]
reversed_list= o[::-1]
print("reverse_list:",reversed_list)

reverse_list: [50, 40, 30, 20, 10]

In [ ]:
##11.Write a code to create a tuple with the elements 100, 200, 300 and print it

tu=(100,200,300)
print(tu)

(100, 200, 300)

In [ ]:
# #12.Write a code to access the second-to-last element of the tuple ('red',
# 'green', 'blue', 'yellow')

c=('red', 'green', 'blue', 'yellow')
c1=c[-2]
print(c1)

blue

In [ ]:
##13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

a=(10,20,5,15)
min_num=min(a)
print(min_num)

5

In [ ]:
# #14. Write a code to find the index of the element "cat" in the tuple ('dog',
# 'cat', 'rabbit') %%


a=('dog', 'cat', 'rabbit')
index=a.index("cat")
print(index)

1

In [ ]:
# #15 Write a code to create a tuple containing three different fruits and check
# if "kiwi" is in it %%

a=('apple,banana,mango')
if "kiwi" in a:
  print("yes")
else:
  print("no")

no

In [ ]:
##16.Write a code to create a set with the elements 'a', 'b', 'c' and print it

a={'a','b','c'}
print(a)

{'a', 'c', 'b'}

In [ ]:
##17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}

a={1,2,3,4,5}
a.clear()
print(a)

set()

In [ ]:
##18.Write a code to remove the element 4 from the set {1, 2, 3, 4 }

a={1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [ ]:
##19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

a={1,2,3}
b={3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [ ]:
##20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a={1,2,3}
b={2,3,4}
intersection=a.intersection(b)
print(intersection)

{2, 3}

In [ ]:
##21. Write a code to create a dictionary with the keys "name", "age", and
#"city", and print it.

a={"name":"bhavya","age":20,"city":"surat"}
print(a)

{'name': 'bhavya', 'age': 20, 'city': 'surat'}

In [ ]:
##22. Write a code to add a new key-value pair "country": "USA" to the
#dictionary {'name': 'John', 'age': 25}.

a={'name': 'John', 'age': 25}
a["country"]="USA"
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
##23. Write a code to access the value associated with the key "name" in the
# dictionary {'name': 'Alice', 'age': 30}.

a={'name':'Alice','age':30}
print(a["name"])

Alice

In [ ]:
##24. Write a code to remove the key "age" from the dictionary {'name': 'Bob',
#'age': 22, 'city': 'New York'}.

a={'name': 'Bob', 'age': 22, 'city': 'New York'}
del a["age"]
print(a)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
##25. Write a code to check if the key "city" exists in the dictionary {'name':
# 'Alice', 'city': 'Paris'}.

a={'name': 'Alice', 'city': 'Paris'}
if "city" in a:
  print("yes")
else:
  print("no")

yes

In [ ]:
##26. Write a code to create a list, a tuple, and a dictionary, and print them
#all.

a=[1,2,3,4]
print(type(a))
b=(1,2,3,4)
print(type(b))
c={1,2,3,4}
print(type(c))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [ ]:
##27. Write a code to create a list of 5 random numbers between 1 and 100, sort
#it in ascending order, and print the result.

import random
a=[random.randint(1,100) for i in range(5)]
a.sort()
print(a)

[14, 20, 40, 86, 95]

In [ ]:
##28. Write a code to create a list with strings and print the element at the
#third index.

a=["apple","banana","mango","orange"]
print(a[3])

orange

In [ ]:
  ##29. Write a code to combine two dictionaries into one and print the result.

  a= {"name": "Alice", "age": 25}
  b= {"city": "New York", "country": "USA"}
  a.update(b)
  print(a)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [2]:
##30. Write a code to convert a list of strings into a set.\

a={"apple","banana","mango"}
print(type(a))

<class 'set'>